<div class="chat-panel panel panel-default" ng-controller="Quicksearch as controller" ng-app="ProjectHApp">
    <!-- /.panel-heading -->
    <div class="panel-body" ng-init="controller.loadTruong('@Model.ID')">
        <div class="list-group">
            <button ng-repeat="tag in controller.tags" ng-click="controller.RemoveTag(tag.ID)"
                    class="btn btn-default customTagButton" data-toggle="tooltip" data-placement="left" title="{{tag.Ten}}"
                    data-original-title="Tooltip on left">
                {{tag.Ten}} - {{tag.ID}}
            </button>

            <input class="custominputTag btn btn-default " id="QuickFindInput" ng-model="controller.object.Ten" type="text" placeholder="Tag trường, ngành..." autocomplete="off" ng-keyup="$event.keyCode == 13 && controller.InputTagEnter()" />
        </div>
        <!-- /.list-group -->
    </div>
    <!-- /.panel-footer -->
</div>

<script type="text/javascript" src="/Content/js/TabEngineClient.js"></script>