<footer class="main-footer" style="background-color: #3c8dbc; color: white; margin-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <strong>Đơn vị hỗ trợ</strong>
                <p>Hội đồng hương Quảng Trị tại Tp Hồ Chí Minh</p>
                <p>Câu lạc bộ sinh viên - cựu sinh viên Quảng Trị tại Tp Hồ Chí Minh</p>
                <p>Hoa Chia Sẻ</p>
                <p></p>
            </div>

            <div class="col-md-4">
                <strong>Đơn vị tài trợ</strong>
            </div>

            <div class="col-md-4">
                <strong>Người thực hiện</strong>
                <p>Leader: Lê Văn Hiếu</p>
                <p>Designer: </p>
            </div>
        </div>
        <div class="row">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.2
            </div>
            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </div>
    </div>
    <!-- /.container -->
</footer>