@model tuvantuyensinhsv.v2.Models.BaiViet


<span style="float:left;">@Model.NgayCapNhat</span>
<span>.............Like/ Dislike:</span> <span style="color:blue;"> @Model.RatePosts.Where(t => t.Like == true).Count()</span> / <span style="color:red;"> @Model.RatePosts.Where(t => t.Like == false).Count()</span>
<span style="float:right;">Người đăng: @Model.AspNetUser.UserName</span>
